
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Kolaroo-Habitats</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/Habitate.css" rel="stylesheet" />
  

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href=" @Url.Action("Home", "Home")" style="color: black;"><em>KOLAROO VICTORIA</em></a></h1>


            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href=" @Url.Action("Home", "Home") ">Home </a></li>
                    <li><a class="nav-link scrollto " href="@Url.Action("LandAnimals", "Home") ">Land Animals</a></li>
                    <li><a class="nav-link scrollto active"  href="@Url.Action("Habitats", "Home") ">Habitats</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("donate", "Home") ">Donate</a></li>
                    <li><a class="nav-link scrollto" href="#">Adoption</a></li>
                    <li><a class="nav-link scrollto" href="#">Join Us</a></li>
                    <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">


        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="text-shadow: 5px 5px 5px #7b9de2; font-family: cursive; color: gray;"><em>Do you know?</em></h2>
                    <p>
                        Victoria's land area supports a wider range of ecosystems for land animals than any area of a similar size
                        in
                        Australia:
                    </p>
                </div>

                <div class="row content">
                    <div class="col-lg-6" style="padding-left: 15%; padding-top: 2.5%;">
                        <ul style="text-shadow: 2px 2px 2px #7b9de2;font-family: cursive;">
                            <br>
                            <li>The Alps</li>
                            <br>
                            <li>Grasslands</li>
                            <br>
                            <li>Heathlands</li>
                            <br>
                            <li>The Mallee</li>
                            <br>
                            <li>Dry forests and woodlands</li>
                            <br>
                            <li>Wet forests and rainforests</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <section id="portfolio" class="portfoio">
                            <div class="container" data-aos="fade-up">
                                <div class="row">
                                </div>

                                <div class="row portfolio-container">

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-animal">
                                        <a href="@Url.Action("GRASSLANDS","Habitat")">
                                            <img src=" ~/portfolio/GRASSLANDS.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <p>GRASSLANDS</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-habitat">
                                        <a href="@Url.Action("HEATHLANDS","Habitat")">
                                            <img src=" ~/portfolio/HEATHLANDS.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <p>HEATHLANDS</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-animal">
                                        <a href="@Url.Action("THEALPS","Habitat")">
                                            <img src="~/portfolio/THE ALPS.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <p>THE ALPS</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                        <a href="@Url.Action("DRYFORESTSANDWOODLANDS","Habitat")">
                                            <img src="~/portfolio/DRY FORESTS AND WOODLANDS.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <p>DRY FORESTS AND WOODLANDS</p>

                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-6 portfolio-item filter-habitat">
                                        <a href="@Url.Action("THEMALLEE","Habitat")">
                                            <img src=" ~/portfolio/THE MALLEE.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <p>THE MALLEE</p>
                                            </div>
                                        </a>
</div>
                                    <div class="col-lg-4 col-md-6 portfolio-item filter-animal">
                                        <a href="@Url.Action("WETFORESTSANDRAINFOREST","Habitat")">
                                            <img src="~/portfolio/WET FORESTS AND RAINFOREST.jpg" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <p>WET FORESTS AND RAINFOREST</p>

                                            </div>
                                        </a>
                                    </div>



                                </div>

                            </div>
                        </section><!-- End Portfoio Section -->



                    </div>
                </div>

            </div>
    </main>
    </section><!-- End About Us Section -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>


</body>

</html>