@model IEnumerable<T11HabitatandAnimals.Models.threatened_animal_habitat_vic>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Community)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPBC_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Community)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EPBC_Status)
                </td>
                <td>
                  
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
$(document).ready(function () {
$('.table').DataTable();
});
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />