
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GreaterGlider </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Habitate.css" rel="stylesheet" />

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href=" @Url.Action("Home", "Home")" style="color: black;"><em>KOLAROO VICTORIA</em></a></h1>


            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href=" @Url.Action("Home", "Home") ">Home </a></li>
                    <li><a class="nav-link scrollto " href="@Url.Action("LandAnimals", "Home") ">Land Animals</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Habitats", "Home") ">Habitats</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("donate", "Home") ">Donate</a></li>
                    <li><a class="nav-link scrollto" href="#">Adoption</a></li>
                    <li><a class="nav-link scrollto" href="#">Join Us</a></li>
                    <li><a class="getstarted scrollto" href="@Url.Action("Home", "Home")">BackHome</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">


        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="section-title">
                <h2>GreaterGlider</h2>
                <div class="container" data-aos="fade-up" style="background-color: aliceblue;">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                           
                            <img src="~/portfolio/Greater Glider.jpg" class="img-fluid" alt="" style="width: 600px; height: 400px;">
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" style="line-height: 3; font-family: cursive; font-size: 18px;">
                            <br><br><br>
                                    <p>
                                        The Greater Glider is the largest gliding mammal in Australia, which have creamy white fur on their underside and thick dark grey-brown fur on their back, with large furry ears and a long shaggy tail that is good for grabbing the trunks and branches when they are climbing the trees. There are different morphs of these animals, dark and light-coloured.

                                    </p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
                             style="line-height: 3; font-family: cursive; font-size: 18px;">
                            <br><br><br>
                                    <p>
                                        The main habitat of Greater Gliders is the east coast of mainland Australia, from central Queesnland to central Victoria. In Victoria, They are usually found in the forests of eastern Victoria, including inland and southern falls of the Great Dividing Range and the Strzelecki and Strathbogie Ranges. They can barely be observed in habitats on high altitude alpine and sub-apline, Wilson’s Promontory and cleared areas, but they are easily found in Daylesford and the surrounding forests excluding Otway Ranges.

                                    </p>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">

                            <img src="~/portfolio/Greater Glider3.jpg" class="img-fluid" alt="" style="width: 600px; height: 400px;">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                   
                            <img src="~/assets/detailsImage/44.jpg" class="img-fluid" alt="" style="width: 600px; height: 400px;">
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" style="line-height: 3; font-family: cursive; font-size: 18px;">
                            <br><br><br>
                                    <p>
                                        Greater Gliders prefer to use older, hollow-bearing trees in moist forest for shelters and nesting. They like to live in groups, with all the family members living in the trees within the same range. They feed on certain species of young eucalyptus leaves.

                                    </p>
                        </div>
                    </div>
                </div>

            </div>



        </section><!-- End Services Section -->
        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>

        <!-- Vendor JS Files -->
        <script src="~/assets/vendor/aos/aos.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="~/assets/js/main.js"></script>

</body>

</html>