
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KOLAROO - JoinUs</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/css/saveAnimal.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon1.ico" />
    <style>
        #hero:before {
            content: "";
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
        .faq-list li:hover {
            background-color: rgb(236, 235, 235);
        }
    </style>
</head>

<body>
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-between">
            <a href="@Url.Action("kolaroo", "Home")" class="logo"><img src="~/assets/Logo.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="@Url.Action("kolaroo", "Home" )">Home</a></li>
                    <li class="dropdown">
                        <a href="@Url.Action("landanimals", "Home" )"><span>Land Animals</span></a>
                        <ul>
                            <li><a class="nav-link scrollto" href="@Url.Action("landanimals", "Home" )"> Endangered Animals</a></li>
                            <li><a class="nav-link scrollto" href="/Extinction.aspx"> Extinction History</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("habitat", "Home")"><span>Habitats</span></a>
                        <ul>
                            <li><a href="@Url.Action("habitat", "Home")">Protecting Land</a></li>
                            <li><a href="@Url.Action("HabitatMap", "Home")">VIC Habitats</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("saveAnimals", "Home")"><span>Save Animals</span></a>
                        <ul>
                            <li><a href="@Url.Action("saveAnimals", "Home")">Help Endangered Animals</a></li>
                            <li><a href="@Url.Action("shelter", "Home")">Find shelter</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href=" @Url.Action("JoinUS", "Home") "><span>Get Involved</span></a>
                        <ul>
                            <li><a class="nav-link scrollto" href="@Url.Action("JoinUS", "Home" )">Join Activity</a></li>
                            <li><a class="nav-link scrollto" href="@Url.Action("Donate", "Home" )">Donate</a></li>

                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/Quiz.aspx">Check Your Knowledge</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <section id="hero" style="height: 60vh; background: url('../../assets/Join.png') top center; ">
        <div class="hero-container" style="font-weight:700">
            <h1>Join Us</h1>
        </div>
    </section><!-- End Hero -->
    <!-- ======= Blog Single Section ======= -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title">
                <h3>Get    <span>Involved</span></h3>
            </div>
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container">
                    <div class="row content" style="background-color: rgb(236, 235, 235);">
                        <div class="col-lg-4">
                            <a href="https://www.wwf.org.au/get-involved#gs.z60ky2" target="_blank" style="color: #c06714;text-align:center">
                                <img class="rounded-circle" src="~/assets/JoinUs/joinUs.jpg" style="height: 250px; width: 400px; margin:15px;" />
                            </a>
                        </div>
                        <div class="col-lg-8" style="padding:60px">
                            <a href="https://www.wwf.org.au/get-involved#gs.z60ky2" target="_blank" style="color: black; text-align: center">
                                <p> <strong>WWF Australia</strong></p>

                                <p>
                                    WWF is one of Australia’s most trusted conservation organisations. At WWF, we work in Australia and in our Asia-Pacific backyard to protect endangered species and habitats, meet the challenge of climate change, and build a world where people live in harmony with nature. This would not be possible without financial support from our community. Thank you! If you would like to help us, please make a donation.
                                </p>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="container">
                    <div class="row content">
                        <div class="col-lg-4">
                            <a href="https://www.australianwildlife.org/support-us/volunteer" target="_blank" style="color: #c06714; text-align: center">
                                <img class="rounded-circle" src="~/assets/JoinUs/JoinUS2.jpg" style="height: 250px; width: 400px; margin: 15px;" />
                            </a>
                        </div>
                        <div class="col-lg-8" style="padding:60px">
                            <a href="https://www.australianwildlife.org/support-us/volunteer" target="_blank" style="color: black; text-align: center">
                                <p> <strong>AWC - Australian Wildlife Conservancy</strong></p>

                                <p>
                                    Australian Wildlife Conservancy is the largest private owner and manager of land for conservation in Australia, protecting endangered wildlife across more than 6.5 million hectares in iconic regions such as the Kimberley, Cape York, Kati Thanda-Lake Eyre and the Top End.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="container">
            <div class="row content" style="background-color: rgb(236, 235, 235);">
                <div class="col-lg-4">
                    <a href="https://www.fame.org.au/membership" target="_blank" style="color: #c06714; text-align: center">
                        <img class="rounded-circle" src="~/assets/JoinUs/JoinUs3.jpg" style="height: 250px; width: 400px; margin: 15px;" />
                    </a>
                </div>
                <div class="col-lg-8" style="padding:60px">
                    <a href="https://www.fame.org.au/membership" target="_blank" style="color: black; text-align: center">
                        <p> <strong>FAME</strong></p>

                        <p>
                            The Foundation for Australia’s Most Endangered Species (FAME) acknowledges the traditional owners of country throughout Australia and their continuing connection to land, sea and community. We pay our respects to them and their cultures and to their elders both past and present.
                        </p>
                    </a>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="container">
                <div class="row content">
                    <div class="col-lg-4">
                        <a href="https://wildlifewonders.org.au/friend-of-wildlife-wonders" target="_blank" style="color: #c06714; text-align: center">
                            <img class="rounded-circle" src="~/assets/JoinUs/JoinUs4.jpg" style="height: 250px; width: 400px; margin: 15px;" />
                        </a>
                    </div>
                    <div class="col-lg-8" style="padding:60px">
                        <a href="https://wildlifewonders.org.au/friend-of-wildlife-wonders" target="_blank" style="color: black; text-align: center">
                            <p> <strong>Wildlife Wonders</strong></p>

                            <p>
                                The Conservation Ecology Centre works collaboratively and innovatively to develop and deliver solutions to the most urgent conservation challenges in the Otways region. Our vision is a healthy and resilient Otways cared for forever. Our purpose is to generate knowledge to nurture the Otways landscape.
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>