@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>THEMALLEE </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Habitate.css" rel="stylesheet" />

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href=" @Url.Action("Home", "Home")" style="color: black;"><em>KOLAROO VICTORIA</em></a></h1>


            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href=" @Url.Action("Home", "Home") ">Home </a></li>
                    <li><a class="nav-link scrollto " href="@Url.Action("LandAnimals", "Home") ">Land Animals</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Habitats", "Home") ">Habitats</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("donate", "Home") ">Donate</a></li>
                    <li><a class="nav-link scrollto" href="#">Adoption</a></li>
                    <li><a class="nav-link scrollto" href="#">Join Us</a></li>
                    <li><a class="getstarted scrollto" href="@Url.Action("Home", "Home")">BackHome</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
            </div>
        </div>

    </section><!-- End Hero -->


    <main id="main">

        <!-- ======= GRASSLANDS
        Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="section-title">
                <h2>THE MALLEE</h2>
                <div class="container" style="background-color:aliceblue">
                    <div class="row gy-4">

                        <div class="col-lg-8">
                            <div class="portfolio-details-slider swiper">
                                <div class="swiper-wrapper align-items-center">

                                    <div class="swiper-slide">
                                        <img src="~/portfolio/THE MALLEE.jpg" />
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <div class="portfolio-description">
                                <h3>
                                    More About The Mallee:
                                </h3>
                                <ul>

                                    <li>
                                        Low, unreliable rainfall, high summer temperatures and poor sandy soil fertility are a key feature - leading some areas to be called "deserts"


                                    </li>
                                    <li>
                                        Amazingly diverse flora and fauna, including many reptiles


                                    </li>
                                    <li>
                                        Small nocturnal terrestrial mammals use burrows for breeding and conservation

                                    </li>
                                    <li>
                                        Featuring an array of unique birds, including the Mallee Fowl, which builds giant dunes and litter to hatch its eggs

                                    </li>
                                    <li>
                                        Parrots stand out, including the colourful Mallee Ringneck, Mitchell's Cockatoo and Regent's Parrot.

                                    </li>

                                </ul>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="portfolio-info">
                                <p>
                                    The Mallee ecosystem gets its name from the small, multi-stemmed eucalyptus trees, which are characterised by woody tubers (mallee roots) below the soil surface that store carbohydrates and water, from which the tree can regrow if the stems are destroyed by fire.
                                    Sandy soils are characteristic of Mallee, creating temperate landscapes and ostensibly simple landscapes, with species of Mallee and underlying salt shrubs, heather, sedges, grasses or ephemeral herbs depending on soil type, depth and salt degree and subtle changes.


                                </p>
                                <p>
                                    Threats:
                                    <ul>
                                        <li>
                                            Herding of exotic animals (e.g. rabbits, goats)
                                        </li>
                                        <li>Fox prey</li>
                                        <li>Weed invasion</li>
                                        <li>Rising temperatures and reduced rainfall are potential threats to species already 'living on the fringes'</li>
                                        <li>A potential increase in the frequency of large, intense fire events also poses a threat to species that require "ancient" habitats.</li>
                                    </ul>
                                </p>
                            </div>

                        </div>

                    </div>

                </div>
        </section>
        <!-- End GRASSLANDS
        Section -->

    </main><!-- End #main -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>