@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
        WET FORESTS AND RAINFOREST
    </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Habitate.css" rel="stylesheet" />

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href=" @Url.Action("Home", "Home")" style="color: black;"><em>KOLAROO VICTORIA</em></a></h1>


            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href=" @Url.Action("Home", "Home") ">Home </a></li>
                    <li><a class="nav-link scrollto " href="@Url.Action("LandAnimals", "Home") ">Land Animals</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("Habitats", "Home") ">Habitats</a></li>
                    <li><a class="nav-link scrollto" href="@Url.Action("donate", "Home") ">Donate</a></li>
                    <li><a class="nav-link scrollto" href="#">Adoption</a></li>
                    <li><a class="nav-link scrollto" href="#">Join Us</a></li>
                    <li><a class="getstarted scrollto" href="@Url.Action("Home", "Home")">BackHome</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
            </div>
        </div>

    </section><!-- End Hero -->


    <main id="main">

        <!-- ======= GRASSLANDS
        Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="section-title">
                <h2>
                    WET FORESTS AND RAINFOREST
                </h2>
                <div class="container" style="background-color:aliceblue">
                    <div class="row gy-4">

                        <div class="col-lg-8">
                            <div class="portfolio-details-slider swiper">
                                <div class="swiper-wrapper align-items-center">

                                    <div class="swiper-slide">
                                        <img src="~/portfolio/WET FORESTS AND RAINFOREST.jpg" />
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <div class="portfolio-description">
                                <h3>
                                    More About the Wet Forest and Rainforest:
                                </h3>
                                <ul>

                                    <li>
                                        Generally Myrtle Beech rainforests only form once a wet eucalypt forest reaches maturity, which takes several hundred years to do so.

                                    </li>
                                    <li>
                                        Trees in wet forests begin to develop hollows in trunks and larger branches after they are about 150 years old.


                                    </li>
                                    <li>
                                        Possums (such as the rare Leadbeater’s Possum), gliders, bats, owls and many bird species require tree hollows or standing dead trees for nesting or roosting or both.

                                    </li>
                                   

                                </ul>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="portfolio-info">
                                <p>
                                    The cool mountains and gullies of ranges in southern, central and north-eastern Victoria as well as areas at lower elevations are dominated by wet eucalypt forests and rainforests.
                                    The wet eucalypt forests have Victoria’s tallest trees including the world’s largest flowering plant, the Mountain Ash which reaches up to 100 metres in height and 15 metres in circumference. This often grows in single species stands, but Messmate and Mountain Grey Gum, or Shining Gum and Alpine Ash at higher altitudes, and other eucalypts share the sky.
                                    In rainforests and sheltered gullies a dense canopy of non-eucalypt tree species, climbers, broad-leafed shrubs and tree ferns provide umbrellas of shade for a variety of ferns, shrubs, mosses and myriad of other life-forms.


                                </p>
                                <p>
                                    Threats:
                                    <ul>
                                        <li>
                                            In young forests hollows are scarce resulting in less diverse and smaller populations of forest animals
                                        </li>
                                        <li>
                                            Many understorey plants flourish after fires and are often older than the dominant eucalypts which may be killed in an intense fire
                                        </li>
                                        <li>Weed infestation</li>
                                        <li>
                                            Predation of native animals by introduced species
                                        </li>
                                        <li>Phytophthora cinnamomi (fungal dieback)</li>
                                    </ul>
                                </p>
                            </div>

                        </div>

                    </div>

                </div>
        </section>
        <!-- End GRASSLANDS
        Section -->

    </main><!-- End #main -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>
